body{
    margin: 0px;
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'head head'
    'con side'
    'foot foot';
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 8fr 3fr;
}

header{
    grid-area: head;
    border: 1px solid lightgreen;
    background-color: black;
    color: white;
    padding: 30px;
    font-size: 18px;
}
main{
    grid-area: con;
    border: 5px solid white;
}
aside{
    grid-area: side;
}
footer{
    grid-area: foot;
    border: 1px solid lightgreen;
    background-color: black;
    color: white;
    padding: 30px;
    font-size: 18px;
}
img {
    width: 250px;
    height: 150px;
    border: 5px solid white;
    border-radius: 10px;
    box-sizing: border-box;
}
.flex-item {
    width: 250px;
    height: 300px;
    background-color: whitesmoke;
    margin: 10px;
    border: 2px solid darkolivegreen;
    border-radius: 10px;
}
#flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
iframe{
    width: 100%;
    height: 100%;
    
}
#add-cart{
    background-color: cadetblue;
    color: white;
    border: 1px solid darkgreen;
    border-radius: 2px;
}
table{
    width: 100%;
    background-color: darkcyan;
}
thead{
    background-color: beige;
    color: darkcyan
}
.trash{
    background-color: beige;
    color:darkcyan;
    border-radius: 3px;
}
.cart-head{
    margin: 5px;
    padding: 10px;
    border: 1px solid darkcyan;
}
.span1{
    font-size: 150px;
    margin: 10px;
}
.span2{
    font-size: 40px;
    margin: 10px;
}